<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="container mt-5">
      <h1>
        Search Results for - "<%= query %>" from "<%= sheetName %>"
        <% if (data.length > 0) { %>
          (<%= (page - 1) * itemsPerPage + 1 %> -
          <%= (page - 1) * itemsPerPage + data.length %> of <%= filteredData.length %>)
        <% } %>
      </h1>

      <% if (data.length === 0) { %>
        <!-- Display the Search Bar Form with Dropdown -->
        <form class="row mb-4" action="/search" method="GET">
          <div class="col-md-4 form-group">
            <select
              class="form-control"
              id="selectedSheet"
              name="selectedSheet"
              required
            >
              <option value="" disabled selected>Please select a sheet</option>
              <% for (const sheetName of sheetNames) { %>
                <option value="<%= sheetName %>"><%= sheetName %></option>
              <% } %>
            </select>
          </div>

          <div class="col-md-4 form-group">
            <input
              type="text"
              class="form-control"
              id="searchInput"
              name="query"
              placeholder="Enter your search query"
              required
            />
          </div>

          <div class="col-md-4 form-group">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
          </div>
        </form>
      <% } %>

      <% if (data.length > 0) { %>
        <!-- Display Results in a Table -->
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Code</th>
              <th>Type</th>
              <th>Figure 1</th>
              <th>Figure 2</th>
              <th>Figure 3</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(item => { %>
              <tr>
                <td><%= item.ID %></td>
                <td><%= item.Code %></td>
                <td><%= item.Type %></td>
                <td><%= item['Figure 1'] || 'N/A' %></td>
                <td><%= item['Figure 2'] || 'N/A' %></td>
                <td><%= item['Figure 3'] || 'N/A' %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
        <div class="pagination">
          <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/search?query=<%= encodeURIComponent(query) %>&selectedSheet=<%= selectedSheet %>&page=<%= i %>" <% if (currentPage === i) { %>class="active"<% } %>><%= i %></a>
          <% } %>
        </div>
        <a href="/" class="btn btn-secondary">Go Back to Landing Page</a>
      <% } else { %>
        <!-- Display a Message when No Data is Found -->
        <p>No results found for your search query.</p>
        <a href="/" class="btn btn-secondary">Go Back to Landing Page</a>
      <% } %>
    </div>

    <!-- Include Bootstrap JavaScript and jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
